@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 570px;
  --breakpoint-md: 740px;
  --breakpoint-lg: 990px;
  --breakpoint-xl: 1170px;
  --font-Poppins: "Poppins", sans-serif;
  --font-Inter: "Inter", sans-serif;
  --color-primary: #db4444;
}

@utility container {
  @apply mx-auto w-full px-4 lg:px-0;
}

html,
body,
#root {
  @apply max-w-full overflow-x-hidden;
}

li.slick-active div {
  @apply bg-primary border-2 border-white;
}
.slick-dots {
  @apply absolute bottom-10;
}

.slick-arrow.slick-next {
  @apply w-11.5 h-11.5 rounded-full bg-[#F5F5F5];
}

.bannerCss > li {
  @apply cursor-pointer;
}

.slick-slide > div {
  @apply w-full;
}

.category .slick-slide > div {
  @apply flex justify-center;
}

.our-products-slider .slick-slide {
  @apply px-3;
}

.our-products-slider .slick-slide > div > div {
  @apply px-3;
}

.slick-slide {
  @apply px-2;
}

/* .slick-slide{
  @apply flex! justify-center
} */
